<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Title</title>{% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="flex flex-row flex-wrap">
    <div class="basis-full bg-blue-200 text-xl font-bold py-4 border-2 border-black flex flex-row justify-evenly">
        <a href="{% url 'index' %}" class="px-4 hover:text-white">Main page</a>
        <a href="{% url 'post_new' %}" class="px-2 hover:text-white">Make post</a>
    </div>
    {% block content %}
    {% endblock %}
</div>
<div><img src="{% static 'images/blog.jpg' %}" alt="" class="h-96 w-full"></div>
</body>
</html>
